<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.h30.swdev.repository.TodoRepository">
	<resultMap id="todoResultMap" type="jp.co.h30.swdev.dao.TodoDao">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="detail" column="detail" />
		<result property="deadline" column="deadline" />
		<result property="createdDate" column="created_date" />
	</resultMap>
	
	
	<insert id="insert" parameterType="jp.co.h30.swdev.dao.TodoDao">
		insert into todo (
			id,
			title,
			detail,
			deadline,
			created_date
		)
		values (
			#{id},
			#{title},
			#{detail},
			#{deadline},
			#{createdDate}
		)
	</insert>
	
	<select id="findAll" resultMap="todoResultMap">
		select * from todo
	</select>
	
	<delete id="deleteAll">
		delete from todo
	</delete>
</mapper>