<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>jp.co.h30.swdev.servlet.RegisterServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>List</servlet-name>
		<servlet-class>jp.co.h30.swdev.servlet.ListServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Complete</servlet-name>
		<servlet-class>jp.co.h30.swdev.servlet.CompleteServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>jp.co.h30.swdev.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Adjust</servlet-name>
		<servlet-class>jp.co.h30.swdev.servlet.AdjustServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>List</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Complete</servlet-name>
		<url-pattern>/complete</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Adjust</servlet-name>
		<url-pattern>/adjust</url-pattern>
	</servlet-mapping>
</web-app>
